.navBar {
    display: flex;
    justify-content: space-between;
    background-color: var(--corSecundaria);
    padding: 35px;
    /* position: sticky;
    top: 0;
    z-index: 1; */
}

.navBar a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    background-color: var(--corSecundaria);
}

.navBarSocialLinks {
    display: flex;
    gap: 20px;
    background-color: var(--corSecundaria);
}


.navBarCars {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

.navBarCarsLinks {
    display: flex;
    gap: 25px;
    background-color: var(--corSecundaria);
}



@media (max-width: 720px) {
    .navBar {
        padding-bottom: 100px;
    }
    .navBar a {
        font-size: 20px;
        text-align: center;

    }

    .navBarSocial{
        display: none;
    }
}