.bannerTitulo {
    color: white;
    text-align: center;
    padding: 35px;
}

.bannerDiv {
    display: flex;
    background-color: var(--corSecundaria);
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.100);
}


.bannerDiv {
    display: flex;
    gap: 20px;
    background-color: var(--corSecundaria);
    margin: 0 15px;
    padding: 20px;
    border-radius: 10px;
}

.bannerImg {
    flex: 1;
    min-width: 0;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border: solid 10px var(--corSecundaria);
    border-radius: 60px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}

/* .bannerDiv img {
    flex: 1;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
}


.bannerImg {

    display: block;
    margin: 0 auto;
    padding: 1px;
    border: solid 10px var(corSecundaria);
    border-radius: 60px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.100);
} */